.file {
    position: relative;
}

.file-buttons {
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.3s ease-in-out;
}

.file:hover .file-buttons {
    opacity: 1;
    transform: translateX(0);
}

.file-buttons button {
    cursor: pointer;
}